/*******************************************************************************
 * Copyright (c) 2020 systemticks GmbH
 *
 * This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License 2.0
 * which accompanies this distribution, and is available at
 * https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Contributors:
 *     systemticks GmbH - initial API and implementation
 *******************************************************************************/
 .progress {
    background-color: rgb(229,233,235);
    height: 3px;
    position: relative;
    width: 100%;
}
.progress-bar-custom {
    background-size: 23em 0.25em;
    height: 100%;
    position: relative;
    background-color:var(--bg);/* #e04542;*/
    animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
        -o-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
        -ms-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
        -webkit-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
        -moz-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
}

@keyframes cssload-width {
    0%, 100% {
        transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-o-keyframes cssload-width {
    0%, 100% {
        -o-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-ms-keyframes cssload-width {
    0%, 100% {
        -ms-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes cssload-width {
    0%, 100% {
        -webkit-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes cssload-width {
    0%, 100% {
        -moz-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}