<style>
    .img-container {
      padding: 20px;
      width: 400px;
      height: auto;
      background-color: white;
      text-align: center;
      margin: 20% auto;
      border-top: 10px solid #00a9ac;
      border-bottom: 10px solid #fd6d1a;
      display: block;
    }
    .img-logo {
      display: inline-block;
      text-align: center;
      height: auto;
    }
</style>

<div class="theia-preload">
  <div class="img-container">
    <img src="../slogr_logo.png" class="img-logo" alt="slogr">
    <p>by</p>
    <img src="../systemticks_logo.png" class="img-logo" alt="systemticks GmbH">
    <p>You are using an <b>early preview</b>!</p>
  </div>
</div>
