/*******************************************************************************
 * Copyright (c) 2020 systemticks GmbH
 *
 * This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License 2.0
 * which accompanies this distribution, and is available at
 * https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Contributors:
 *     systemticks GmbH - initial API and implementation
 *******************************************************************************/
body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
#dock {
  flex: 1 1 auto;
  padding: 4px;
}

#empty-page {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: left;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
}

.content-wrapper {
  padding: 0px;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


#column_block {
	clear: both;
	padding: 0px;
	margin: 0px;
}


#col1 {
	display: block;
	float:left;
	width: 32%;
}

#col2 {
	display: block;
  float:left;
  margin-left: 1%;
  width: 32%;
}

#col3 {
	display: block;
  float:left;
  margin-left: 1%;
	width: 32%;
}

