/*******************************************************************************
 * Copyright (c) 2020 systemticks GmbH
 *
 * This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License 2.0
 * which accompanies this distribution, and is available at
 * https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Contributors:
 *     systemticks GmbH - initial API and implementation
 *******************************************************************************/
 #editor-buttons {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

.slogr-button {
    background-color: lightgrey;
    border: none;
}

.filterEditorWidget {
    border-bottom: 1px solid lightgrey;
    z-index: 100;
}